#benefits{
    display: flex;
    flex-direction: row;
    margin: 0 5vw;
}

.benefit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 450px;
    padding: 1rem;

}

.benefit p{
    color: rgb(150, 150, 150);
}