footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 250px;
    background-color: #121212;
    padding: 2rem;
}

#logo-white{
    height: 15px;
}

footer nav{
    display: flex;
    flex-direction: column;
}

footer a{
 color: white;
}

footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: unset;
    border: unset;

}



@media only screen and (max-width: 600px){
   
   footer{
       flex-direction: column;
       height: 450px;
       align-items: center;
   }
   footer nav{
    align-items: center;
}

   
}
