section{
    display: flex;
    flex-direction: row;
    position: relative;
}

#hiker, #photographer{
    display: none;
}
.section-img{
    width: 60vw;
    object-fit: cover;
    object-position: center;
}

.section-desc-black{
    width: 40vw;
    background-color: #121212;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.section-desc-black p{
    color: rgb(180, 180, 180);
    line-height: 25px;
    font-size: 0.9rem;
}

.section-desc-white{
    width: 40vw;
    background-color: white;
    color: #121212;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.section-desc-white p{
    color: rgb(150, 150, 150);
    line-height: 25px;
    font-size: 0.9rem;
}

h1{
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 3vw;
    font-size: 3vw;
}

.arrow{
    width: 40px;
    margin-left: 1rem;
}

.get-invite{
    display: flex;
    justify-content: left;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px){
    section{
        flex-direction: column;
    }

    .section-img, .section-desc-black, .section-desc-white{
        width: 100vw;
        height: 450px;
    }

    h1{
        font-size: 6vw;
        line-height: 6vw;
    }

    #hiker, #photographer{
        display: block;
    }
    #hiker-right, #photographer-right{
        display: none;
    }
}