#stories{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.story {
    position: relative;
    width: 25vw;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items:center;
  
}

.story-img{
    position: absolute;
    left: 0;
    min-width: 200px;
    width: 25vw;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.img-desc{
    z-index: 999;
    padding: 20px;
    color: white;
    min-width: 200px;
    width: 25vw;
    height: 225px;
    position: absolute;
    top: 50%;
    text-align: left;

}

.read-story{
    display: flex;
    flex-direction: row;
    border-top: 0.5px solid white;
}


@media only screen and (max-width: 600px){
   
    #stories{
        flex-direction: column;
    }
    .story, .story-img,.img-desc {
        width: 100vw;
    }

   
}

